[submodule "firecrawl"]
	path = firecrawl
	url = https://github.com/DLozF/firecrawl
[submodule "hermes-agent"]
	path = hermes-agent
	url = https://github.com/DLozF/hermes-agent.git
[submodule "LightRAG"]
	path = LightRAG
	url = https://github.com/DLozF/LightRAG.git
